<section id="LebowskiNicoBio">
  <h2>biografia</h2>
  <h3>Chi siamo</h3>
  <p>I <strong>LEBOWSKI</strong> sono Simone Re, Marco Mancini, Riccardo Latini e Riccardo 
Franconi (anche Butcher Mind Collapse) e <strong>NICO</strong> è Nicola Amici (anche lui 
Butcher Mind Collapse), ultimo arrivato a giugno 2011 dopo la conclusione 
della sua esperienza nei Jesus Franco & The Drogas. </p>

{% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/lebowski_bio.jpg' %}
    <img src="{{ asset_url }}" alt='lebowski' class="img-rounded"/>
{% endimage %}
  
<p>Il primo disco dei LEBOWSKI <strong>"the best love songs of the love for the songs and 
    the best"</strong> esce nel dicembre 2008 per <a href="www.bloodysoundfucktory.com">BloodySound Fucktory</a>, Lemming 
Records e Stonature Records. Registrato al "Blocco A" di Villa del Conte (PD) 
da <strong>Giulio Ragno Favero</strong> (Il Teatro degli Orrori, One Dimensional Man) e 
<strong>Giovanni Ferliga</strong> (Aucan), fa ottenere al gruppo ottime recensioni e, nel 2009, 
il video del singolo <a href="http://www.youtube.com/watch?v=f0-WqFOOCGI">Casa Comenji</a>, girato a Torino e diretto da <strong>Stefano Poletti</strong> 
e <strong>Cosimo Bruzzese</strong>, esce in anteprima su <a href="www.rollingStone.com">rollingStone.com</a> . 
Le sonorità del disco non sono riconducibili ad un genere preciso, ma piuttosto 
sono in un limbo tra pop e post-punk, con incursioni noise ed una buona dose 
di elettronica (es.  Talking Heads, Devo, B52’s, Joy Division, PIL, ecc..).  I 
LEBOWSKI infatti non pongono limiti o etichette di sorta alle loro composizioni 
preferendo un approccio privo di pregiudizi.</p>
<p>I testi occupano uno spazio fondamentale nella stesura dei brani e sono 
caratterizzati da un’ironia irriverente e sicuramente non monotematica. Mai 
forzatamente viscerali, cercano di dire cose "interessanti" senza pesare su chi 
ascolta. Questa è la scelta per l’ascoltatore: 2se vuoi, sorridi… se hai più 
tempo, magari rifletti sul testo".</p>
{% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/lebowski_band_12.jpg' %}
    <img src="{{ asset_url }}" alt='lebowski & nico live' class="img-rounded"/>
{% endimage %}
<p>Con l'aggiunta di <strong>NICO</strong>, i <strong>LEBOWSKI & NICO</strong> arrivano ad una formazione più 
dinamica e con un ulteriore punto di vista che ha contribuito a sviluppare un 
linguaggio ancor più personale, grazie anche all’inserimento del sax e di 
ulteriori dosi di elettronica. 
Il nuovo disco, in via di ultimazione, è stato registrato a fine gennaio 2012 a 
"La Sauna" recording studio di Varano Borghi (VA). Ancora una volta c’è Giulio 
Ragno Favero alla regia, coadiuvato questa volta da Andrea Cajelli.</p>
</section>
