<section id="LebowskiNicoContatti">
  <h2>Contatti</h2>
  <dl class="dl-horizontal">
      <dt>Band</dt><dd><a href="mailto:info@lebowskienico.com">info@lebowskienico.com</a></dd>
      <dt>Label</dt><dd><a href="mailto:info@bloodysoundfucktory.com">info@bloodysoundfucktory.com</a></dd>
                     <dd><a href="www.bloodysoundfucktory.com">www.bloodysoundfucktory.com</a></dd>
                     <dt>Ufficio stampa</dt><dd><a href="mailto:info@lunatik.it">info@lunatik.it</a></dd>
  </dl>
  
</section>
