<section id="LebowskiNicoDisco">
  <h2>discografia</h2>
  <article>
          <h3>Propaganda</h3>
          <p class="lead">bloody028 - Release date: 26 novembre 2012</p>
          <span >Dettagli: CD</span><br>
          <span>Registrato e mixato da Giulio Ragno Favero e Andrea Cajelli a "La Sauna Recording Studio", Varano Borghi (VA). 
            <br>Masterizzato da Giovanni Versari a "La Maest&agrave; Studio", Tredozio (FC). 
            <br>Fot di Caterina Fattori e Roberta Paolucci </span>
            <span><a href="http://www.caterta.com">www.caterta.com</a></span><span>. Artwork di Caterta Reale.</span><br>&nbsp;
          <div class="TrackList"><span>TRACKLIST</span><br>
              <span style="font-size: smaller;">1. Mattia Pascal<br>2. Kansas City<br>3. Giovanni Citofonista<br>4. Sei Uno Sprovveduto<br>5. Avevo Un Sogno Nel Cassonetto<br>6. Mutatis Mutande<br>7. Job Fighters II<br>8. Bang! Shit! Styling!<br>9. (A Dicembre Una Tombola) Rosso Shoking</span>
          </div>
          <div class="CoverCD">
            {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/copertina.png' %}
            <img src="{{ asset_url }}" alt='Propaganda Cover' class="img-rounded" width="150" height="145"/>
                      {% endimage %}
          </div>
                  

            <div class="Separatore"></div>
         
            <h3>The Best Love Songs Of The Love For The Songs And The Best</h3>
            <p class="lead">bloody008 - Release date: 5 Dicembre 2008</p>
            <span>Dettagli: CD</span><br>
            <span>Registrato e mixato by Giulio Ragno Favero e Giovanni Ferliga al "Blocco A Studio", Padova.
              <br>Masterizzato da Maurizio Giannotti al "Bips Studio", Milano.
              <br>Foto e artwork by Caterina Fattori e Marco Mancini.</span><br>&nbsp;
             <div class="TrackList">
               <span>TRACKLIST</span><br><span style="font-size: smaller;">1. Berto 13<br>2. Casa Comenji<br>3. Zuber Buller <br>4. Alberigo Evaniscente <br>5. Church Of Fonz! <br>6. ST-N-N-N...<br>7. Didier E Il Suo Cesto Di Droga</span></p></td>
          </div>
          <div class="CoverCD">
             {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/copertina_the_best.gif' %}
            <img src="{{ asset_url }}" alt='Propaganda Cover' class="img-rounded" width="150" height="145"/>
                      {% endimage %}
          </div>
           <div class="Separatore"></div>
          
    </article>
</section>