<section id="LebowskiNicoHome">
  <h2>Lebowski & Nico</h2>
  <article>
    <h3>Il 26 novembre 2012 esce <strong>Propaganda</strong> il secondo album dei <strong>Lebowski & Nico</strong></h3>
    <ul class="thumbnails">
      <li class="span4">
        <a href="#propagandaCover" class="thumbnail CoverPropaganda" data-toggle="modal">
                      {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/copertina.jpg' %}
            <img src="{{ asset_url }}" alt='Propaganda Cover' class="img-rounded"/>
                      {% endimage %}
          </a>
          </p>
        </li>
        <li class="PropagandaDesc">
          <p><strong>PROPAGANDA</strong> è il ritorno dei Lebowski a quattro anni dal disco d’esordio The best love songs of the love for the songs and the best (Bloody Sound Fucktory / Valvolare / Lemming / Stonature), lavoro apprezzato sia dalla critica sia dal pubblico e che ha subito messo in luce la forte personalità di una band capace di conciliare un post-punk/noise teso e abrasivo con una vena ironica pungente e non comune, notata anche da RockTv che ha trasmesso per mesi in heavy rotation il video del singolo Casa Comenji 
            (<a href="http://www.bloodysoundfucktory.com/lebowski" target="_blank">www.bloodysoundfucktory.com/lebowski</a>).</p>
          <p>Quanto di buono espresso nel primo album viene confermato e superato con <strong>PROPAGANDA</strong>, 
            un lavoro denso e maturo che si articola tra sonorità pop e post-punk, con incursioni psichedeliche ed 
            una buona dose di elettronica. Andando a ritroso nel tempo vengono in mente Devo, Gang of Four e B52’s 
            come riferimenti più immediati, mentre rimanendo entro i confini nazionali l’affinità maggiore è quella 
            con gli ultimi R.U.N.I.: coordinate da prendere con le pinze, quello dei LEBOWSKI & NICO è un sound ricco e 
            variopinto che ha pochi pari in Italia al giorno d’oggi.
          </p>
          
        </li>
      </ul>
      <p class="text-info">Info sul disco:</p>
          <dl class="dl-horizontal">
              <dt>Formato:</dt> <dd>CD</dd>
              <dt>Costo:</dt> <dd>10 euro + 3 euro di spedizione</dd>
          </dl>
      <p class="text-info">Modalità d'acquisto del disco:</p>
      <dl class="dl-horizontal">
        <dt>PAYPAL:</dt> <dd>puoi utilizzare il nostro canale paypal intestato a <a href="mailto:riccardo.franconi@gmail.com">riccardo.franconi@gmail.com</a></dd>
          <dt>POSTE PAY:</dt><dd> scrivere a <a href="mailto:info@lebowskienico.com">info@lebowskienico.com</a> mettendo nell'oggetto 
              della mail "Voglio Propaganda". 
              Riceverete una mail con il numero della postepay da ricaricare.</dd>
      </dl>
    </article>
</section>
    <!-- Modal -->
    <div id="propagandaCover" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Propaganda - 26 novembre 2012</h3>
      </div>
      <div class="modal-body">
    {% image '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/images/copertina.png' %}
            <img src="{{ asset_url }}" alt='Propaganda Cover' class='img-rounded' />
    {% endimage %}
            <strong>TRACKLIST</strong>
              <ol>
                <li>Mattia Pascal</li>
                <li>Kansas City</li>
                <li>Giovanni Citofonista</li>
                <li>Sei uno Sprovveduto</li>
                <li>Avevo un Sogno nel Cassonetto</li>
                <li>Mutatis Mutande</li>
                <li>Job Fighters II</li>
                <li>Bang! Shit! Styling</li>
                <li>(A Dicembre una Tombola) Rosso Shocking</li>
              </ol>
            <p><small><strong>bloody028 - Release date: Dicembre, 2012</strong><br>
FORMATO CD<br>
Registrato e missato da Giulio Ragno Favero e Andrea Cajelli a "La Sauna Recording Studio", Varano Borghi (VA).
Masterizzato da Giovanni Versari a "La Maestà Studio", Tredozio (FC). 
Fotografie realizzate da Caterina Fattori and Roberta Paolucci <a href="http://www.caterta.com">www.caterta.com</a>. Artwork di Caterta Reale</small></p>
      </div>
    </div>

