<div style="background-color: #ffc0c0; border: 2px solid #ff0000; padding: 12px; text-align: center;margin: 12px; font-family: Arial; font-size: 14px">
  <p>
    Stai utilizzando una versione obsoleta di <strong>Internet Explorer</strong>, che potrebbe 
    causare dei malfunzionamenti nel sistema
  </p>
  <p>
    Ti invitiamo ad <a href="http://windows.microsoft.com/it-IT/internet-explorer/download-ie" target="_blank">aggiornarlo</a> all'ultima versione o ad utilizzare un altro browser come chrome o firefox
  </p>
</div>