{% extends "::base.html.twig" %}

{% block stylesheets %}
      {% stylesheets 'bundles/lebowskiandnicobundleswebsite/bootstrap/css/bootstrap.css'
                     'bundles/lebowskiandnicobundleswebsite/bootstrap/css/bootstrap-responsive.css'
                     'bundles/lebowskiandnicobundleswebsite/css/*' filter='cssrewrite' %}
          <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
{% endblock %}

{% block body %}
     <div class="container-fluid">     
        <div class="row-fluid MainContainer">
            <div class="span4 LeftCol">
                <ul class="nav nav-list affix MainMenu">
                    <li class="active"><a href="#LebowskiNicoHome">home</a></li>
                    <li><a href="#LebowskiNicoGallery">gallery</a></li>
                    <li><a href="#LebowskiNicoTour">tour</a></li>
                    <li><a href="#LebowskiNicoBio">biografia</a></li>
                    <li><a href="#LebowskiNicoContatti">contatti</a></li>
                    <li class="divider"></li>
                    <li><p>Player audio e social network</p></li>
                </ul>
            </div>
            <div class="span8 ContentCol">
                {% render 'LebowskiAndNicoBundlesWebSiteBundle:Page:home' %}
                {% render 'LebowskiAndNicoBundlesWebSiteBundle:Page:gallery' %}
                {% render 'LebowskiAndNicoBundlesWebSiteBundle:Page:tour' %}
                {% render 'LebowskiAndNicoBundlesWebSiteBundle:Page:bio' %}
                {% render 'LebowskiAndNicoBundlesWebSiteBundle:Page:contact' %}
                {% include 'LebowskiAndNicoBundlesWebSiteBundle:Page:modalTeaser.html.twig' %}
            </div>
        </div>
    </div>
    
      
    
{% endblock %}

{% block javascripts %}
    {% javascripts 
                   '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/libs/jquery-1.8.2.min.js'
                   '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/bootstrap/js/bootstrap.js'
                   '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/js/UiHeightManager.js'
                   '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/js/ModalTeaserShower.js'
                   '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/js/UiGallery.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}