{% extends "::base.html.twig" %}

{% block stylesheets %}
      {% stylesheets 'bundles/lebowskiandnicobundleswebsite/bootstrap/css/bootstrap.css'
                     'bundles/lebowskiandnicobundleswebsite/bootstrap/css/bootstrap-responsive.css'
                     'bundles/lebowskiandnicobundleswebsite/css/*' filter='cssrewrite' %}
          <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
{% endblock %}

{% block body %}
     <div class="container-fluid">     
        <div class="row-fluid MainContainer">
            <div class="span4 LeftCol">
                <ul class="nav nav-list affix MainMenu">
                    <li class="active"><a href="#LebowskiNicoHome">home</a></li>
                    <li><a href="#LebowskiNicoGallery">gallery</a></li>
                    <li><a href="#LebowskiNicoVideo">video</a></li>
                    <li><a href="#LebowskiNicoTour">tour</a></li>
                    <li><a href="#LebowskiNicoBio">biografia</a></li>
                    <li><a href="#LebowskiNicoDisco">discografia</a></li>
                    <li><a href="#LebowskiNicoContatti">contatti</a></li>
                    <li class="divider"></li>
                    <li><a href="#LebowskiNicoListenPropaganda" class="LebowskiNicoOther">Ascolta</a></li>
                    <li><a class="SocialLink" target="_blank" href="https://www.facebook.com/lebowskiband" class="LebowskiNicoOther">Facebook</a></li>
                </ul>
            </div>
            <div class="span8 ContentCol">
                {% render 'LebowskiAndNicoBundlesWebSiteBundle:Page:home' %}
                {% render 'LebowskiAndNicoBundlesWebSiteBundle:Page:gallery' %}
                {% render 'LebowskiAndNicoBundlesWebSiteBundle:Page:video' %}
                {% render 'LebowskiAndNicoBundlesWebSiteBundle:Page:tour' %}
                {% render 'LebowskiAndNicoBundlesWebSiteBundle:Page:bio' %}
                {% render 'LebowskiAndNicoBundlesWebSiteBundle:Page:disco' %}
                {% render 'LebowskiAndNicoBundlesWebSiteBundle:Page:contact' %}
                {% render 'LebowskiAndNicoBundlesWebSiteBundle:Page:listenpropaganda' %}
                {% include 'LebowskiAndNicoBundlesWebSiteBundle:Page:modalTeaser.html.twig' %}
                
            </div>
        </div>
    </div>
    
      
    
{% endblock %}

{% block javascripts %}
    {% javascripts 
                   '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/libs/jquery-1.8.2.min.js'
                   '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/bootstrap/js/bootstrap.js'
                   '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/js/UiHeightManager.js'
                   '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/js/UiGallery.js'
                   '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/js/MobileDetector.js'
                   '@LebowskiAndNicoBundlesWebSiteBundle/Resources/public/js/ModalTeaserShower.js'   %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-36264708-1']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

    </script>
{% endblock %}