<div id="teaserPropaganda" class="modal hide fade BoxTeaser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">"Propaganda" in uscita il 26 nov 2012</h3>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/iVfVeSLnFso" frameborder="0" allowfullscreen></iframe>
        <p>Video realizzato da Caterta Reale - <a href="http://www.caterta.com">www.caterta.com</a></p>
    </div>
</div>