.MainContainer{
  background-color: #F7F7F7;
  background-image: url('../images/square-grid.png');
  background-repeat: repeat;
}

.MainMenu{
  width: 31%;
  text-align: right;
  padding-top: 80px;
  background-color: #2B2B2B;
  background-image: url('../images/left_col_background.png');
}

.MainMenu a{
  font-size: 38px;
  line-height: 38px;
  text-transform: uppercase;
  font-weight: bold;
}

.row-fluid .span4 {
  width: 34%;
}

.row-fluid .span8 {
  width: 61%;
}

.ContentCol h2{
  text-align: right;
  font-size: 32px;
  text-transform: uppercase;
  color: #0098c7;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-right: 50px;
  padding-bottom: 10px;
  border-bottom: 10px solid #EAEAEA;
}

#propagandaCover .modal-body img{
  float: left;
  display: block;
  width: 200px;
  margin-right: 10px;
}

#propagandaCover .modal-body ol{
  float: left;
  display: block;
  margin-left: 30px;
}

#LebowskiNicoHome li{
  display: block;
  float:left;
}

#LebowskiNicoHome li.PropagandaDesc{
  display: block;
  float: left;
  margin-top: 2px;
  width: 50%;
}

.MainContainer h3{
  text-transform: uppercase;
  font-size: 22px;
  line-height: 30px;
  width: 94%;
}

.BoxTeaser{
  width: 660px;
  height: 523px;
  text-align: center;
}

#LebowskiNicoBio img{
  margin-bottom: 20px;
  margin-top: 20px;
}

#LebowskiNicoDisco .TrackList{
  float: left;
  margin-right: 30px;
  width: 400px;
}

#LebowskiNicoDisco .CoverCD{
  float: left;
  margin-right: 30px;
  margin-bottom: 50px;
}

div.Separatore{
  width: 100px;
  height: 1px;
  clear: both;
}

.nav-list li a.SocialLink{
  color: #f23e45;
}